@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background: linear-gradient(to bottom, #fff 0%, #fff 50%, #444 50%, #444 100%);
  background-size: 100% 200vh;
  background-position: top;
  background-attachment: fixed;
}

body {
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "MS Pゴシック", "MS P Gothic", sans-serif;
  font-size: 12px;
  line-height: 1.8;
  color: #333;
  background-color: transparent;
  margin: 0;
  padding: 0;
  position: relative;
}

h1 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  page-break-after: avoid;
}

h2 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  page-break-after: avoid;
}

h3 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  page-break-after: avoid;
}

h4, h5, h6 {
  font-weight: normal;
  page-break-after: avoid;
}

p {
  display: inline;
  font-size: inherit;
  line-height: 2em;
  color: #444;
  margin: 0;
  text-indent: 0;
}

a {
  color: #48a9e1;
  text-decoration: none;
  transition: 0.2s;
}

a:visited {
  color: #48a9e1;
  opacity: 0.5;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

a.textlink {
  text-decoration: none;
  border-bottom: 1px solid #48a9e1;
  padding-bottom: 2px;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
}

a img {
  border: none;
}

ul, ol, dl {
  padding: 0;
  margin: 0;
}

li {
  display: list-item;
  list-style: none;
}

.clearfix {
  width: 100%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

::selection {
  background: #ffd800;
  color: #000;
}

::-moz-selection {
  background: #ffd800;
  color: #000;
}
